{% extends "base.html" %}
{% block content %}
<section id="content">

		<div class="slides">
            <figure>
                     <p><img class="round" loading="lazy" alt="" src="/theme/images/me.png"></p>
                     <p>I'm a full-stack and mobile developer.</p>
                     <p>GNU/Linux Fan, using Python / Golang / C</p>
                     <p><a href="https://twitter.com/b_rvier">Twitter</a> - <a href="https://github.com/brvier">Github</a> - <a href="https://gitlab.com/brvier">Gitlab</a> - <a href="mailto:benoit@rvier.fr">Email</a></p>
            </figure>
        </div>


</section><!-- /#content -->
{% endblock content %}
