{% extends "base.html" %}
{% block content %}
<section id="content">

		<div class="slides">
            <figure>
                     <p><img class="logo" loading="lazy" alt="Benoît HERVIER - Photo" src="/theme/images/me.png"></p>
                     <p>Développeur freelance full-stack et d'applications mobile</p>
                     <p>GNU/Linux Fan, utilisateur de Python / Golang</p>
                     <p><a href="/pages/contact-et-informations-legales.html">Contact et informations légales</a></p>
                     <p><a href="https://github.com/brvier">Github</a> - <a href="https://gitlab.com/brvier">Gitlab</a> - <a href="mailto:benoit@rvier.fr">Email</a> </p>
            </figure>
        </div>


</section><!-- /#content -->
{% endblock content %}
